/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* default styles for all widths (also catches widths between 980 - 1199)
-------------------------------------------------------------------------------*/

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

div.wrapper {position: relative; width: 100%;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f; text-decoration: none;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #cc0000; color: #fff; text-shadow: none;}
::selection {background: #cc0000; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #cc0000;} 

ins {background-color: #cc0000; color: #000; text-decoration: none;}
mark {background-color: #cc0000; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }


/* ----------------- header section ---------------- */
#header {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
    height: 45px;
    opacity: 0.9;
    border-bottom: 1px solid rgb(238, 238, 238);
}
#header-wrapper {
	padding: 0px 20px;
	position: relative;
	max-width: 1200px;
	margin: 0px auto;
}
#header-left {
	/*max-width: 750px;
	margin: 0px -30px 0px 0px;*/
	float: left;
	width: auto;
	overflow: hidden;
	z-index: 999;
	/*min-width: 250px;*/
	padding: 0px;
}
#header-left h1 {
    color: rgb(51, 51, 51);
    /*font-family: 'Lobster',cursive;*/
	font-family: 'Devonshire';
    font-size: 28px;
    margin-right: 20px;
    text-transform: capitalize;
    line-height: 45px;
}
#header-right {
	float: left;
	padding: 0px;
	width: auto;
}
	nav {
		height: 45px;
		width: 100%;
		position: relative;
	}
	nav ul {
		padding: 0px;
		margin: 0px auto;
		height: 45px;
		text-align: center;
	}
	nav li {
		display: inline;
		float: left;
	}
	nav ul li {
		list-style-type: circle;
		padding: 0px 0px 5px;
	}
	nav li a {
		-moz-box-sizing: border-box;
	}
	nav a {
		color: #c00;
		font-family: 'Bree Serif',serif;
		font-size: 16px;
		text-transform: uppercase;
		display: block;
		padding: 0px 15px;
		text-align: center;
		text-decoration: none;
		line-height: 45px;
	}
	
	nav a#pull {  
		display: none;  
	}
	
/* ----------------- content section ---------------- */
#content-wrapper {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.13) inset;
    margin: 45px 0px 0px;
    padding: 20px;
    width: 100%;
}
#content-wrapper-outer {
    padding: 20px;
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	border: 1px solid rgb(238, 238, 238);
}
#content-wrapper-inner {
    /*padding: 0px 20px;
    position: relative;
    max-width: 1200px;
    margin: 0px auto;*/
}

/* responsive youtube embeds */
#video {
	margin-top:20px;
	margin-bottom:20px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* truncate long text to one line and ... */
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('xml/ellipsis.xml#ellipsis');
}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Landscape phones and down */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#header-right {
		float: right;
	}
	nav {  
		border-bottom: 0;
		width:120px;
		float:right;
	}  
	nav ul {  
		display: none;  
		height: auto;  
	}  
	nav a#pull {  
		display: block;  
		background-color: #cc0000;
		color: #fff;
		width: 100%;  
		position: relative;
	}  
	nav a#pull:after {  
		content:"";  
		background: url('../img/nav-icon.png') no-repeat;  
		width: 30px;  
		height: 30px;  
		display: inline-block;  
		position: absolute;  
		right: 0px;  
		top: 13px;  
	} 
	nav ul li {  
		display: block;  
		float: none;  
		width: 100%;
		padding: 0;
	}  
	nav ul li a {  
		border-bottom: 1px solid #576979;
		border-left: 1px solid #576979;
		border-right: 1px solid #576979;
		background-color: #fff;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}

/* Print styles!
-------------------------------------------------------------------------------*/
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}